* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #111;
  font-family: Arial, sans-serif;
}

.app {
  max-width: 430px;
  height: 100vh;
  margin: auto;
  background: white;
  overflow: hidden;
}

.page {
  display: none;
  height: 100%;
  overflow-y: auto;
}

.page.active {
  display: block;
}

.auth {
  background: #fffc00;
  text-align: center;
  padding: 40px 20px;
}

.auth h1 {
  font-size: 42px;
}

header {
  background: #fffc00;
  padding: 14px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

video {
  width: 100%;
  height: calc(100vh - 145px);
  object-fit: cover;
  background: black;
}

canvas {
  display: none;
}

input {
  width: 90%;
  padding: 14px;
  margin: 10px auto;
  display: block;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  border: none;
  border-radius: 25px;
  padding: 12px 16px;
  background: #111;
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin: 5px;
}

.cameraControls {
  height: 85px;
  background: #111;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.snapBtn {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: white;
  color: black;
  font-size: 28px;
}

#previewImg {
  width: 100%;
  max-height: 570px;
  object-fit: cover;
  background: black;
}

.card,
.message,
.story {
  margin: 10px;
  padding: 14px;
  border-radius: 18px;
  background: #eee;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message.me {
  background: #fffc00;
  margin-left: 55px;
}

.message.them {
  background: #ddd;
  margin-right: 55px;
}

.message img,
.story img {
  width: 100%;
  border-radius: 14px;
}

.messageBox {
  position: sticky;
  bottom: 0;
  background: white;
  display: flex;
  padding: 10px;
}

.messageBox input {
  width: 75%;
  margin: 0;
}

.messageBox button {
  width: 25%;
}
